<section class="mb-3">
  <p class="h5">Image edition</p>
  <div>
    <p class="m-0">Using CSS transformations</p>
  </div>
</section>

<div class="container-fluid my-3">
  <button class="btn btn-primary" (click)="goBack()">Go back</button>
</div>

<div class="pdf-main-bar d-flex flex-row justify-content-around pt-2 row">
  <div class="col-12 col-lg-4">
  <button class="btn btn-primary" (click)="zoom(zoomBy)">+</button>
  <button class="btn btn-primary" (click)="zoom(-1 * zoomBy)">-</button>
  </div>
  <div class="col-12 col-lg-4">
    <p class="text-center mb-0">User document</p>
  </div>
  <div class="col-12 col-lg-4 text-right">
    <button class="btn btn-primary" (click)="rotate(rotateBy)"><i class="fa fa-repeat" aria-hidden="true"></i></button>
    <button class="btn btn-primary" (click)="rotate(-1 * rotateBy)"><i class="fa fa-undo" aria-hidden="true"></i></button>
    <button class="btn btn-primary" (click)="restore()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
  </div>
</div>


<div class="croppit row">
  <div class="col-12 col-lg-12">
    <div class="image-container">
      <canvas #imgCanvas></canvas>
    </div>
  </div>
</div>
