.pdf-main-bar {
  background-color: #003459;
  padding: 0.3rem;
  color: #fff;

  button {
    border: 1px solid #00a8e8;
    color: #fff;
    border-radius: 8px;
    margin-right: 0.3rem;
    background-color: #00a8e8;
    padding: 5px 20px;
    transition: all 0.25s ease-in-out;
    &:hover {
      background-color: rgba(#007ea7, 0.8);
      color: #fff;
      border-color: rgba(#007ea7, 0.8);
    }
  }
}

.pdf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #efefef;
}
