<section class="mb-3">
  <p class="h5">PDF view edition</p>
  <div>
    <p class="m-0">Using canvas transformations</p>
  </div>
</section>

<div class="container-fluid my-3">
  <button class="btn btn-primary" (click)="goBack()">Go back</button>
</div>

<div class="pdf-main-bar d-flex flex-row justify-content-around pt-2 row">
  <div class="col-12 col-lg-4">
    <button (click)="updatePage(-1)">Previous</button>
    <button (click)="updatePage(1)">Next</button>
    <button (click)="updateScale(0.2)">+</button>
    <button (click)="updateScale(-0.2)">-</button>
  </div>
  <div class="col-12 col-lg-4">
    <p class="text-center mb-0">Page: <span id="page_num">{{pdfBase.pageNum}}</span> of <span
        id="page_count">{{pdfBase.pageTotal}}</span></p>
  </div>
  <div class="col-12 col-lg-4 text-right">
    <button (click)="updateRotation(-90)"><i class="fa fa-undo" aria-hidden="true"></i></button>
    <button (click)="updateRotation(90)"><i class="fa fa-repeat" aria-hidden="true"></i></button>
  </div>
</div>

<div class="container-fluid px-0">
  <div class="pdf-container row">
    <canvas #pdfCanvas></canvas>
  </div>
</div>
